
p{
font-size: 20px;  
}

h1 {
    text-align: center
}

h2 {
    text-align: center;
    
}
*{
    box-sizing: border-box;  
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    color:white;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.contenedor {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}
main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
article {
    padding: 15px;
    border-radius: 5px;
}
aside {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
}
footer {
    color: white;
    text-align: center;
    padding: 15px;
}
/*Responsive */
@media (max-width:768px) {
    .contenedor {
        flex-direction: column;
    }
}
.subrayado{
    text-decoration: underline;
}
table {
    text-align: center;
}
div {
  text-align: center;  
}
img{
width:500px; 
height:500px;
 
}
video{
width:1000px; height:1000px
}
source {
text-align: center;
}
#video {
text-align: center;
}